<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Filmz Admin</title>
    <link href="/stylesheets/adminstyle.css" rel="stylesheet" type="text/css" />
  </head>
  <%- include ("header.ejs") %>
  <body class="text-white" style="background-color:#181818;">
    <center>
      <h2 class="p-4">List of users</h2>
      <table class="max-w-6xl">
        <tr>
          <th>NAME</th>
          <th>USERNAME</th>
          <th>EMAIL</th>
          <th>BIRTHDAY</th>
          <th>GENDER</th>
          <th>BANNED <br>0 = Not Banned <br>1 = Banned</th></th>
        </tr>
        <% data.userlist.rows.forEach(function(r) { %>
			<tr>
				<td><%= r.firstname %><%= r.lastname %></td>
				<td>
					<%= r.username %>
					<!--<a href="?id="></a>-->
				</td>
				<td><%= r.email %></td>
				<td><%= r.birthday %></td>
				<td><%= r.gender %></td>
        <td><%= r.banned %></td>
			</tr>
		<% }); %>
      </table>
    </center>

    <p class = "header2">Ban User</p>
    <form class="header1" action="/banuser" method="post">
      <p class = "header1">Username:</p>
      <input class = "header1" type ="text" name="username" id="username" /></br>
      <button class = "button1">Ban</button>
    </form>
    </div>
    <p class = "header2">Unban User</p>
    <form class="header1" action="/unbanuser" method="post">
      <p class = "header1">Username:</p>
      <input class = "header1" type ="text" name="username" id="username" /></br>
      <button class = "button1">Unban</button>
    </form>
    </div>

    <!--<script src="/script.js"></script>-->
  </body>
</html>
