<!DOCTYPE html>
<html>
	<head>
		<title>FilmZ</title>
		<link href="/stylesheets/mainpage.css" rel="stylesheet" type="text/css">
	</head>
	<%- include ("header.ejs") %>
	<body class="text-white" style="background-color:#181818;">

<div class="b">

</div>


<div class="flex items-center justify-center"> 
	<div class="w-full max-w-6xl"> 
		
<h2 class="text-4xl"> Top Trending Movie Right Now:</h2>
<a class="text-3xl" href="/trending"> Find Other Trending Movies Here </a>




	 <div class="flex items-center justify-center"> 
		 <div class="w-full max-w-6xl"> 
			<div class="mt-4">
				<div class="flex overflow-hidden my-4">
					
					<div>
						<table style="width:80%">
			
					<tr>
						
						<h2 class="text-3xl" class="text"><a href="/movie/" onclick="location.href=this.href+<%=results[0].id%>;return false">
							<%=results[0].title%></a></h2>
							
					</div>
					</tr>
					<tr>
						
						<td class="image"><a href="/movie/" onclick="location.href=this.href+<%=results[0].id%>;return false">
							<img src="https://image.tmdb.org/t/p/w154/<%=results[0].poster_path%>"  alt="<%=results[0].title%>"></a></td>
						<td class="text"><%=results[0].overview %></td>
					</div>
					</tr>
					</div>
					
					<!-- </div> -->
					</div>
				</div>
			<!-- </div> -->
			</div>

    </body>
</html>